<link href="~/css/Thongtinnguoidung.css" rel="stylesheet" />
@model QlW_BandoanOnline.Models.ViewModels.ChangePasswordViewModel
@{
    ViewData["Title"] = "Đổi mật khẩu";
}

<main class="main-content">
    <div class="container">
        <div class="account-info-container">
            <div class="account-header">
                <h2 class="account-title" style="color: white;">Đổi mật khẩu</h2>
            </div>
            <div class="account-content">
            <form asp-action="ChangePassword" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="info-group">
                    <label asp-for="OldPassword" class="info-label"></label>
                    <input asp-for="OldPassword" type="password" class="form-control" />
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>

                <div class="info-group">
                    <label asp-for="NewPassword" class="info-label"></label>
                    <input asp-for="NewPassword" type="password" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>

                <div class="info-group">
                    <label asp-for="ConfirmPassword" class="info-label"></label>
                    <input asp-for="ConfirmPassword" type="password" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

                <div class="action-buttons">
                    <button type="submit" class="edit-btn"><i class="fa-solid fa-floppy-disk"></i>Đổi mật khẩu</button>&ensp;
                    <a asp-action="Index" class="edit-btn"><i class="fa-solid fa-xmark"></i>Hủy</a>
                </div>
            </form>
            </div>
        </div>
    </div>
</main>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}